
h1,h2,h3,h4,h5,h6 {
			font-family: 'Work Sans', sans-serif;
		}body,textarea,input {
			font-family: 'Work Sans', sans-serif;
		}.shb-booking-page-main .woocommerce form.woocommerce-form-login .form-row .woocommerce-form-login__submit,
		.shb-booking-page-main .woocommerce form.checkout_coupon p .button,
		.shb-booking-page-main .woocommerce #payment #place_order,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content a.woocommerce-button,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .woocommerce-Button,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .woocommerce-Button.disabled,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .button,
		.sohohotel-content-wrapper .woocommerce ul.products li.product .button,
		.single-product .sohohotel-blog-single-wrapper .single_add_to_cart_button.button.alt,
		.woocommerce-cart .sohohotel-content-wrapper .sohohotel-main-content .checkout-button,
		.woocommerce-cart .sohohotel-content-wrapper .sohohotel-main-content .checkout-button:hover,
		.shb-accommodation-listing-filter-sorting .shb-accommodation-listing-sorting select {
			font-family: 'Work Sans', sans-serif !important;
		}.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-left-wrapper li.sohohotel-phone-icon:before,
			.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-left-wrapper li.sohohotel-map-icon:before,
			.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button2,
			.sohohotel-header .sohohotel-navigation ul li ul li:last-child a:hover,
			.sohohotel-header .sohohotel-navigation li ul li a:hover,
			.sohohotel-header .sohohotel-fixed-navigation-show .sohohotel-navigation li ul li a:hover,
			.sohohotel-header .sohohotel-navigation li ul li.current_page_item a:hover,
			.sohohotel-header .sohohotel-top-right-navigation li li a:hover,
			.sohohotel-header .sohohotel-mobile-navigation-wrapper .sohohotel-top-right-button2,
			.sohohotel-page-header h1:after,
			.sohohotel-blog-wrapper-1 .sohohotel-blog-block .sohohotel-blog-description .sohohotel-more-link,
			.sohohotel-footer-wrapper .sohohotel-footer-bottom-wrapper,
			h4.sohohotel-comment-count-title:after,
			.sohohotel-comments-wrapper #respond #reply-title:after,
			.sohohotel-main-content input[type="submit"],
			h3.sohohotel-title1:after,
			.sohohotel-sidebar-content .sohohotel-widget-wrapper h3:after,
			.sohohotel-footer-social-icons-wrapper a,
			body .tnp-widget input[type="submit"],
			body .tnp-widget-minimal input[type="submit"],
			.sohohotel-page-header .sohohotel-search-results-form button,
			.sohohotel-page-not-found h1:after,
			.sohohotel-page-not-found form button,
			body div.pp_default .pp_close,
			.sohohotel-title-left:after,
			.sohohotel-title-center:after,
			.vc_toggle_size_md.vc_toggle_default .vc_toggle_title h4:before,
			.wpb-js-composer .vc_tta-accordion.vc_tta.vc_general .vc_tta-panel h4.vc_tta-panel-title:before,
			.sohohotel-social-links a,
			.sohohotel-testimonial-wrapper.sohohotel-testimonial-wrapper-dark .owl-theme .owl-dots .owl-dot.active span,
			.sohohotel-hotel-listing-wrapper .sohohotel-hotel-listing h3:after,
			.owl-theme .owl-dots .owl-dot.active span,
			.sohohotel-main-content table th,
			.sohohotel-call-to-action-video-section .sohohotel-call-to-action-video-section-inner h3:after,
			.sohohotel-call-to-action-2-section h3:after,
			.wp-block-button__link,
			body .sohohotel-slider-caption-1 .sohohotel-slider-button,
			body .sohohotel-slider-caption-2 .sohohotel-slider-button,
			.shb-booking-form-with-background-1 .shb-booking-form-with-background-1-content h2:after,
			.shb-booking-form-with-background-2 .shb-booking-form-with-background-2-content h2:after,
			.shb-booking-form-with-background-3 .shb-booking-form-with-background-3-content h2:after,
			.shb-booking-form-with-background-3-wrapper .shb-booking-form-wrapper .shb-booking-form-button-1,
			body .sohohotel-slider-caption-3 h2:after,
			body .sohohotel-slider-caption-3 .sohohotel-slider-button,
			body .sohohotel-slider-caption-4 h2:after,
			body .sohohotel-slider-caption-4 .sohohotel-slider-button,
			.sohohotel-page-pagination .wp-pagenavi .current,
			.sohohotel-page-pagination .wp-pagenavi a:hover,
			.sohohotel-loading div:after,
			body .tnp-subscription input[type="submit"],
			.sohohotel-pagination .page-numbers.current, .sohohotel-pagination .page-numbers:hover {
			background: #b99470;
			}
			
			body .sohohotel-button1 {
			background: #b99470 !important;
			}
			
			.sohohotel-blog-wrapper-1 .sohohotel-blog-block .sohohotel-blog-meta i,
			.sohohotel-blog-single-wrapper .sohohotel-blog-meta i,
			.sohohotel-main-content .sohohotel-comments-wrapper .sohohotel-comments p.sohohotel-comment-info a,
			.sohohotel-main-content .sohohotel-comments-wrapper .comment-reply-link,
			.sohohotel-main-content .sohohotel-comments-wrapper .comment-edit-link,
			.sohohotel-blog-wrapper-2 .sohohotel-blog-block .sohohotel-blog-meta span i,
			.sohohotel-blog-wrapper-3 .sohohotel-blog-block .sohohotel-blog-meta i,
			blockquote:before,
			.sohohotel-widget .sohohotel-contact-widget li:before,
			.sohohotel-icon-text-wrapper-1 .sohohotel-icon-text-block .sohohotel-icon i,
			.sohohotel-icon-text-wrapper-2 .sohohotel-icon i,
			.sohohotel-contact-details-list li:before,
			.sohohotel-main-content div.wpcf7 .ajax-loader:after,
			.sohohotel-testimonial-wrapper .sohohotel-testimonial-block div span.sohohotel-open-quote,
			.sohohotel-testimonial-wrapper .sohohotel-testimonial-block div span.sohohotel-close-quote,
			.sohohotel-blog-carousel .sohohotel-blog-block .sohohotel-blog-date i,
			.sohohotel-single-testimonial-text span,
			.sohohotel-main-content ul li:before,
			.sohohotel-main-content ul.sohohotel-contact-details-list li::before {
			color: #b99470;
			}
			
			.sohohotel-page-pagination .wp-pagenavi .current,
			.sohohotel-page-pagination .wp-pagenavi a:hover,
			.sohohotel-pagination .page-numbers.current, .sohohotel-pagination .page-numbers:hover {
			border: #b99470 1px solid;
			}
			
			body .tnp-subscription input[type="text"],
			body .tnp-subscription input[type="email"],
			body .tnp-widget input[type="text"], 
			body .tnp-widget input[type="email"],
			body .tnp-widget-minimal input[type="text"], 
			body .tnp-widget-minimal input[type="email"],
			.sohohotel-blog-block.sticky,
			.sohohotel-blog-block.tag-sticky-2,
			.is-style-outline > .wp-block-button__link:not(.has-background) {
				border: #b99470 2px solid;
			}
			
			.wpb-js-composer .vc_tta-color-grey.vc_tta-style-classic ul.vc_tta-tabs-list li.vc_tta-tab.vc_active {
				border-top: #b99470 4px solid;
			}.shb-accommodation-listing-style-1 .shb-accommodation-listing-item .shb-accommodation-listing-description-wrapper .shb-accommodation-listing-description .shb-accommodation-listing-button1,
		.shb-accommodation-listing-style-2 .shb-accommodation-listing-item .shb-accommodation-listing-image .shb-accommodation-listing-button1,
		.shb-accommodation-listing-style-3 .shb-accommodation-listing-item .shb-accommodation-listing-image .shb-accommodation-listing-button1,
		.shb-booking-form-style-1 .shb-booking-form-col input[type="submit"],
		.shb-guestclass-select-dropdown .shb-qty-done,
		.sohohotel-content-wrapper .shb-booking-contact-wrapper h3:after,
		.shb-booking-step-wrapper .shb-booking-step.shb-booking-step-current a:first-child,
		.shb-booking-step-wrapper .shb-booking-step-line div,
		.shb-booking-accommodation-result-wrapper .shb-booking-accommodation-item .shb-booking-accommodation-info-wrapper .shb-booking-accommodation-info.shb-booking-accommodation-rate .shb-booking-accommodation-select-room,
		.shb-booking-your-stay-wrapper .shb-booking-your-stay-item-wrapper h3:after,
		.shb-booking-continue,
		.shb-lightbox-close,
		#ui-datepicker-div .ui-datepicker-calendar tbody td[data-event="click"]:hover,
		.shb-booking-complete-wrapper i,
		.shb-booking-page-main .woocommerce form.woocommerce-form-login .form-row .woocommerce-form-login__submit,
		.shb-booking-page-main .woocommerce form.checkout_coupon p .button,
		.woocommerce-page .select2-container--default .select2-results__option--highlighted[aria-selected], .woocommerce-page .select2-container--default .select2-results__option--highlighted[data-selected],
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content form .select2-container--default .select2-results__option--highlighted[aria-selected], .woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content form .select2-container--default .select2-results__option--highlighted[data-selected],
		.shb-booking-page-main .woocommerce #payment #place_order,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content a.woocommerce-button,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .woocommerce-Button,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .woocommerce-Button.disabled,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .button,
		.sohohotel-content-wrapper .woocommerce ul.products li.product .button,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .woocommerce-order-details__title:after,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .woocommerce-column__title:after,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .woocommerce-Address-title h3:after,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content fieldset legend:after,
		.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content form h3:after,
		.woocommerce-account .sohohotel-main-content h2:after,
		.single-product .sohohotel-blog-single-wrapper .related.products > h2:after,
		.single-product .sohohotel-blog-single-wrapper #tab-description h2:after,
		.single-product .sohohotel-blog-single-wrapper #tab-additional_information h2:after,
		.sohohotel-main-content .cart-collaterals .cart_totals h2:after,
		.sohohotel-content-wrapper .sohohotel-main-content .woocommerce span.onsale,
		.single-product .sohohotel-blog-single-wrapper .single_add_to_cart_button.button.alt,
		.sohohotel-content-wrapper .sohohotel-main-content .woocommerce table.shop_attributes tr:nth-child(2n) th,
		.woocommerce-cart .sohohotel-content-wrapper .sohohotel-main-content .checkout-button,
		.woocommerce-cart .sohohotel-content-wrapper .sohohotel-main-content .checkout-button:hover {
			background: #b99470;
			}
			
			.shb-accommodation-listing-style-1 .shb-accommodation-listing-item .shb-accommodation-listing-description-wrapper .shb-accommodation-listing-description ul li i,
			.shb-accommodation-listing-style-2 .shb-accommodation-listing-item .shb-accommodation-listing-description-wrapper .shb-accommodation-listing-description ul li i,
			.shb-booking-form-style-1 .shb-booking-form-col i,
			.shb-title-with-icons-wrapper i,
			.sohohotel-main-content table td i,
			.sohohotel-content-wrapper .shb-booking-contact-wrapper ul li i,
			.shb-booking-accommodation-result-wrapper .shb-booking-accommodation-item .shb-booking-accommodation-image .shb-booking-accommodation-image-icon i,
			.shb-booking-accommodation-result-wrapper .shb-booking-accommodation-item .shb-booking-condition-wrapper h2 i,
			.shb-booking-accommodation-result-wrapper .shb-booking-accommodation-item .shb-booking-condition-wrapper ul li:before,
			.shb-booking-accommodation-result-wrapper .shb-booking-accommodation-item .shb-booking-accommodation-info-wrapper .shb-booking-accommodation-info ul li i,
			.shb-booking-notification-wrapper p i,
			.shb-booking-page-main .woocommerce .woocommerce-info:before,
			.woocommerce .woocommerce-error:before,
			.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .woocommerce-customer-details .woocommerce-customer-details--phone:before,
			.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .woocommerce-customer-details .woocommerce-customer-details--email:before,
			.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .woocommerce-Message:before,
			.woocommerce-account .sohohotel-content-wrapper .sohohotel-main-content .woocommerce-message:before,
			.sohohotel-content-wrapper .sohohotel-main-content .woocommerce ul.products li.product .price,
			.sohohotel-content-wrapper .sohohotel-main-content .woocommerce div.product p.price {
			color: #b99470;
			}
			
			.shb-booking-form-style-1 .shb-location-select-dropdown,
			.shb-booking-form-style-1 .shb-guestclass-select-dropdown,
			.shb-booking-step-wrapper .shb-booking-step.shb-booking-step-current a:first-child,
			.shb-booking-accommodation-result-wrapper .shb-booking-accommodation-item .shb-booking-condition-wrapper,
			.shb-booking-accommodation-result-wrapper .shb-booking-accommodation-item.shb-booking-accommodation-item-highlight {
				border: #b99470 2px solid;
			}.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: rgba(255,255,255,0.2);
		}

		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a {
			color: #fff;
		}

		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-82.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-82.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover {
			color: #fff;
		}.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: rgba(255,255,255,0.2);
		}

		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a {
			color: #fff;
		}

		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-83.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-83.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover {
			color: #fff;
		}.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: rgba(255,255,255,0.2);
		}

		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a {
			color: #fff;
		}

		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-84.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-84.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover {
			color: #fff;
		}.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: rgba(255,255,255,0.2);
		}

		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a {
			color: #fff;
		}

		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-85.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-85.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover {
			color: #fff;
		}.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: rgba(255,255,255,0.2);
		}

		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a {
			color: #fff;
		}

		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-86.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-86.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover {
			color: #fff;
		}.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: rgba(255,255,255,0.2);
		}

		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header h2.sohohotel-logo a,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation.sohohotel-header .sohohotel-navigation li a {
			color: #fff;
		}

		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-top-right-navigation,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header h2.sohohotel-logo a,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li.current_page_item > a,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation-clone.sohohotel-header .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-top-right-navigation,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1 {
			border-color: #dedede;
		}

		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li a,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation:hover h2.sohohotel-logo a,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar .sohohotel-top-right-wrapper .sohohotel-top-right-button1,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a {
			color: #181b20;
		}

		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li.current_page_item > a,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li a:hover {
			color: #8a8989;
		}

		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-87.sohohotel-header-2 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-topbar-wrapper .sohohotel-topbar li li a:hover,
		.page-id-87.sohohotel-header-4 .sohohotel-fixed-navigation:hover .sohohotel-navigation li li a:hover {
			color: #fff;
		}body .tnp-widget label, body .tnp-subscription label {display: none;}
